<footer>
    <div class="footer-container">
      <div class="footer-section about">
        <h2>About</h2>
        <p>
          Trident Information Systems, is one of the leading global providers of Information Technology services and business solutions with over with a proven track record of over 24 years. We have been consistently adding value to the business bottom line of our global clientele.
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <ul>
          <li>India</li>
          <li>M-31 A, M-Block Market Greater Kailash Part-II New Delhi 110048, India</li>
          <li>Sales Enquiries: +91-8447639992</li>
          <li>Job Enquiries: +91-9643008721</li>
          <li>Landline: +91 11 29216726 / 29219927</li>
          <li>USA</li>
          <li>5900 Balcones, Drive STE 100, Austin Texas (USA)</li>
          <li>Dubai</li>
          <li>Crystal Tower, Business Bay, PO Box # 238364 Dubai, UAE</li>
          <li>+971 56305 7227</li>
          <li>Africa</li>
          <li>No. 11, NCIE Premises, State Highway, Ilupeju Estate, By Oshodi, Lagos, Nigeria</li>
        </ul>
      </div>
      <div class="footer-section blogs">
        <h2>Recent Blogs</h2>
        <ul>
          <li><a href="#">Revolutionizing the Dining Experience: LS Central's Table Management Unveiled</a></li>
          <li><a href="#">Unlock New Insights with Our Expert Power BI Consulting Services</a></li>
          <li><a href="#">Manage Inventory and Optimize Production with Aptean’s Beverage ERP Solution</a></li>
          <li><a href="#">Detecting Gear Defects Made Easy: AI Based Visual Inspection Systems</a></li>
        </ul>
      </div>
      <div class="footer-section enquiry">
        <h2>Quick Enquiry</h2>
        <form>
          <input type="text" name="name" placeholder="Name">
          <input type="email" name="email" placeholder="Email">
          <input type="text" name="mobile" placeholder="Mobile">
          <input type="text" name="country" placeholder="Country">
          <textarea name="message" placeholder="Message"></textarea>
          <button type="submit">SEND</button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2023-24 Trident Info</p>
        <div class="footer-links ">
        <a href="#">Trident Connect</a>
        <a href="#">Career</a>
        <a href="#">Return Refund Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy and Policy</a>
      </div>
    </div>
  </footer>