<section class="head-img" style="background: url('assets/crm.jpg')no-repeat center center / cover;">
    <div class="paraDiv row justify-content-center">
     <h3 class="elementor-slide-heading text-white">The Way People Buy Has Changed</h3>
    
 </div>
</section>

<div class="container">
<section class="statistics-section">
    <div class="statistics-container">
        <div class="stat-item">
            <div class="stat-number">
                <span class="number">57</span><span class="suffix">%</span>
            </div>
            <div class="stat-title">Customers are</div>
            <p>through the buying process before they talk to a supplier.</p>
        </div>

        <div class="stat-item">
            <div class="stat-number">
                <span class="number">5.4</span><span class="suffix">%</span>
            </div>
            <div class="stat-title">Average B2B purchase decisions involve</div>
            <p>stakeholders.</p>
        </div>

        <div class="stat-item">
            <div class="stat-number">
                <span class="number">10</span><span class="suffix">%</span>
            </div>
            <div class="stat-title">Reps have a</div>
            <p>chance of getting a response from a cold email.</p>
        </div>
    </div>
</section>
</div>

<section class="digital-transformation-section">
    <div class="transformation-container">
        <div class="transformation-item">
            <h2>Drive your Digital Transformation</h2>
            <p>Microsoft <a href="https://tridentinfo.com/microsoft-dynamics-nav/">Dynamics 365</a> is the foundation for a suite of productivity applications for your business. This innovative solution breaks down the silos between CRM, <a href="https://tridentinfo.com/happy-staff-is-the-secret-ingredient-for-high-profit-businesses/">ERP</a>, and productivity to offer one system for everyone. With purpose-built applications for Sales, Customer Service, Field Service, and Project Service Automation, you can empower all of your teams to do more every day, in concert. Now, it’s truly possible to run your entire business in the cloud.</p>
        </div>

        <div class="transformation-item">
            <h2>Microsoft Dynamics CRM is Now Offered as Part of Microsoft Dynamics 365</h2>
            <p>Encompassing what was formerly known as <a href="https://tridentinfo.com/microsoft-dynamics-365-for-project-service-automation-psa/">Microsoft Dynamics CRM</a>, <a href="https://tridentinfo.com/microsoft-power-business-intelligence-software/">Microsoft Dynamics 365</a> transforms the way people do business by packaging the core components of CRM as individual applications in the cloud with a whole new suite of capabilities.</p>
        </div>
    </div>
</section>
