<section class="head-img" style="background: url('assets/crm.jpg')no-repeat center center / cover;">
    <div class="paraDiv row justify-content-center">
        <h3 class="elementor-slide-heading text-white">The Way People Buy Has Changed</h3>

    </div>
</section>

<div class="container">
    <section class="statistics-section">
        <div class="statistics-container">
            <div class="stat-item">
                <div class="stat-number">
                    <span class="number">57</span><span class="suffix">%</span>
                </div>
                <div class="stat-title">Customers are</div>
                <p>through the buying process before they talk to a supplier.</p>
            </div>

            <div class="stat-item">
                <div class="stat-number">
                    <span class="number">5.4</span><span class="suffix">%</span>
                </div>
                <div class="stat-title">Average B2B purchase decisions involve</div>
                <p>stakeholders.</p>
            </div>

            <div class="stat-item">
                <div class="stat-number">
                    <span class="number">10</span><span class="suffix">%</span>
                </div>
                <div class="stat-title">Reps have a</div>
                <p>chance of getting a response from a cold email.</p>
            </div>
        </div>
    </section>
</div>

<section class="sec-crm  ">
    <div class="container">
        <div class="row">
            <!-- Column 1 -->
            <div class="col-md-6">
                <h3>Drive your Digital Transformation</h3>
                <p>
                    <a href="#">Microsoft Dynamics 365</a> is the foundation for a suite of productivity applications
                    for your business. This innovative solution breaks down the silos between CRM, ERP, and productivity
                    to offer one system for everyone. With purpose-built applications for Sales, Customer Service, Field
                    Service, and Project Service Automation, you can empower all of your teams to do more, every day, in
                    concert. Now, it’s truly possible to run your entire business in the cloud.
                </p>
            </div>

            <!-- Column 2 -->
            <div class="col-md-6">
                <h3>Microsoft Dynamics CRM is Now Offered as Part of Microsoft Dynamics 365</h3>
                <p>
                    Encompassing what was formerly known as <a href="#">Microsoft Dynamics CRM</a>, Microsoft <a
                        href="#">Dynamics 365</a> transforms the way people do business by packaging the core components
                    of CRM as individual applications in the cloud with a whole new suite of capabilities.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="dynamics-section">
    <div class="container">
        <div class="content">
            <h1>Are you ready for Dynamics 365?</h1>
            <p>Delight your customers, grow sales, manage your finances, and make the most of your scarce time with a
                quick to implement, easy to use business solution from Microsoft. Complete, familiar and trusted with
                one seamless experience across your devices – start with what you need today and easily adapt as your
                needs change.</p>
            <div class="button-wrapper">
                <a href="#" class="cta-button">View Case Study</a>
            </div>
        </div>
    </div>
</section>


<section class="dynamic-365 mb-5 mt-5">

    <h4 class="" style="color: #555;">Find Out More About Each Dynamics 365 Application</h4>


    <div class="card-container ">
        <!-- Card 1 -->
        <div class="card">
            <div class="card-icon">
                <i class="far fa-address-book"></i>
            </div>
            <h3>Dynamics 365 for Finance & Operations</h3>
            <p>Support your business requirements and adjust to constantly changing business environments, without the
                hassle of managing infrastructure.</p>
            <a href="https://tridentinfo.com/microsoft-dynamics-365-for-finance-and-operations/"
                class="card-button">Learn
                More</a>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <div class="card-icon">
                <i class="far fa-address-card"></i>
            </div>
            <h3>Dynamics 365 for Customer Service</h3>
            <p>Empower agents with the resources they need to provide fast and effective service.</p>
            <a href="https://tridentinfo.com/microsoft-dynamics-crm-software-solution/" class="card-button">Learn
                More</a>
        </div>

        <!-- Card 3 -->
        <div class="card">
            <div class="card-icon">
                <i class="far fa-address-card"></i>
            </div>
            <h3>Dynamics 365 for Sales</h3>
            <p>Bring digital intelligence into each deal, so you can predict customer needs – and meet them with
                personal
                attention that builds relationships and revenue.</p>
            <a href="https://tridentinfo.com/microsoft-dynamics-crm-software-solution/#sales" class="card-button">Learn
                More</a>
        </div>

        <div class="finance-card card">
            <div class="card-icon">
                <i class="far fa-address-book"></i>
            </div>
            <h3>Dynamics 365 for Talent</h3>
            <p>Automate routine HR tasks, standardise talent management across your organisation, so you can focus on
                employee performance, development, and retention.</p>
            <a href="https://tridentinfo.com/microsoft-dynamics-365-for-finance-and-operations/"
                class="card-button">Learn
                More</a>
        </div>

        <!-- Card 2 -->
        <div class="customer-service-card card">
            <div class="card-icon">
                <i class="far fa-address-card"></i>
            </div>
            <h3>Dynamics 365 for Field Services</h3>
            <p>Maintain the accuracy of service contracts, warranties, and installed products across customers,
                geographies, and locations.</p>
            <a href="https://tridentinfo.com/microsoft-dynamics-crm-software-solution/" class="card-button">Learn
                More</a>
        </div>

        <!-- Card 3 -->
        <div class="sales-card card">
            <div class="card-icon">
                <i class="far fa-address-card"></i>
            </div>
            <h3>Dynamics 365 for Project Service Automation
            </h3>
            <p>Deliver every customer engagement on-time and within budget through an end-to-end solution for sales,
                planning, resourcing, delivery, and billing.</p>
            <a href="https://tridentinfo.com/microsoft-dynamics-crm-software-solution/#sales" class="card-button">Learn
                More</a>
        </div>
        <div class="finance-card card">
            <div class="card-icon">
                <i class="far fa-address-book"></i>
            </div>
            <h3>Dynamics 365 for Customer Insight</h3>
            <p>Every customer interaction matters in customer service. The Dynamics 365 Customer Service solution helps
                organizations respond faster to customer service issues by empowering employees.</p>
            <a href="https://tridentinfo.com/microsoft-dynamics-365-for-finance-and-operations/"
                class="card-button">Learn
                More</a>
        </div>

        <!-- Card 2 -->
        <div class="customer-service-card card">
            <div class="card-icon">
                <i class="far fa-address-card"></i>
            </div>
            <h3>Dynamics 365 for Marketing</h3>
            <p>For organizations looking to improve the effectiveness of their marketing activities, the Dynamics 365
                Marketing solution provides an integrated marketing platform for planning, executing,</p>
            <a href="https://tridentinfo.com/microsoft-dynamics-crm-software-solution/" class="card-button">Learn
                More</a>
        </div>

        <!-- Card 3 -->
        <div class="sales-card card">
            <div class="card-icon">
                <i class="far fa-address-card"></i>
            </div>
            <h3>Dynamics 365 for Social</h3>
            <p>In a socially connected world, interaction with customers is key to growing your business. Social
                engagement can happen anytime anywhere. Microsoft Social Engagement is…</p>
            <a href="https://tridentinfo.com/microsoft-dynamics-crm-software-solution/#sales" class="card-button">Learn
                More</a>
        </div>
    </div>
</section>

<section class="section-case-studies">
    <div class="container-case-studies">
      <div class="heading">
        <h2>Case Studies</h2>
      </div>
      <div class="case-studies-row">
        <div class="case-study-card">
          <figure class="case-study-image">
            <a href="https://tridentinfo.com/education-consultants-speed-up-services-with-dynamic-real-time-information-and-reports/">
              <img loading="lazy" decoding="async" src="https://tridentinfo.com/wp-content/uploads/2020/12/crm-1.jpg" alt="EGE ONLINE">
            </a>
          </figure>
          <div class="case-study-content">
            <h3><a href="https://tridentinfo.com/education-consultants-speed-up-services-with-dynamic-real-time-information-and-reports/">EGE ONLINE</a></h3>
            <p>A global, trusted education consultant, EGE Global offers an objective, expert assessment of a student’s unique educational needs.</p>
          </div>
        </div>
        <div class="case-study-card">
          <figure class="case-study-image">
            <a href="https://tridentinfo.com/global-supplier-of-corrosion-protection-lubricants-technologies-systems-provider-implements-microsoft-dynamics-crm/">
              <img loading="lazy" decoding="async" src="https://tridentinfo.com/wp-content/uploads/2020/12/crm1.jpg" alt="Zavenir Daubert">
            </a>
          </figure>
          <div class="case-study-content">
            <h3><a href="https://tridentinfo.com/global-supplier-of-corrosion-protection-lubricants-technologies-systems-provider-implements-microsoft-dynamics-crm/">Zavenir Daubert</a></h3>
            <p>Global Supplier of Corrosion Protection Lubricants & Technologies Systems Provider Implements Microsoft Dynamics CRM.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  