<section class="hero-section ptb-100" id="demo5"
    style="background: url('assets/ISOX.jpg')no-repeat center center / cover">

    <div class="hero-bottom-shape-two"></div>
    <div class="col-12">
        <div class="page-header-content  text-center ">
            <h1 class="text-white text-shadow-black mb-0">ISOX</h1>
        </div>
    </div>
</section>
<div class="about-section ptb-75">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="about-text-content">
            <div class="section-title">
              <h2>iSOX–<span> Intelligent Sales Order Xpress </span></h2>
              <p>
                With the recent quantum leap in technology, the organizations have
                speed up the work to be lean and efficient. However this has poised
                bigger challenges to keep the data clean, of high quality and
                automated. Our Innovation lab consolidated few success stories
                across clients and integrated those with SAP technologies powered
                by SAP BTP® that resulted in iSOX (Intelligent Sales Order
                Xpress).
              </p>
              <p>
                Intelligent Sales Order Xpress (iSOX) provides end-to-end data
                services around Sales Order Maintenance.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="text-center">
            <img src="assets/ISOX1.jpg" style="height: 70%; width: 75%" alt="about" />
          </div>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-lg-6 col-md-12">
          <div class="text-center">
            <img src="assets/ISOX2.jpg" style="height: 50%; width: 75%" alt="about" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-4">
          <div class="about-text-content">
            <div class="section-title ">
              <h3>Transform your Sales Order <span> Management & Maintenance: </span></h3>
              <p>
                Intelligent Sales Order Xpress at iDMX gives enterprises full
                transparency into sales order maintenance activities and complete
                control over sales order data across the channels and execution
                process. ISOX offers a pre-validation stage for the Sales Orders’
                Data called Sales Order Requests (SOR) that allows validation of
                the data, identification of the data issues and user maintenance
                before sales orders are released to SAP® or Core ERP. Sales Orders
                are managed by exception and the history logs provide Artificial
                Intelligence for error management and recommendations.
              </p>
              <p>
                The application is available as an on-premise solution or based on
                the SAP Cloud Platform – depending on your needs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="operation-center-area mb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="operation-center-image">
            <img src="assets/ISOX_Feature.png" alt="image" />
            <div class="operation-image-shape">
              <!-- <img src="assets/shape.png" alt="image" /> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="operation-center-content">
            <h3 style="margin-left: 40px;"> <span>Features:</span></h3>
            <div class="row justify-content-center">
              <div class="col-sm-12">
                <ul class="operation-list">
                  
                  <!-- First Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Visibility of Sales Orders Data at the entry point.</p>
                  </div>
                  
                  <!-- Second Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Real-time Automated Sales Order Data Validation with SAP or core ERP.</p>
                  </div>
              
                  <!-- Third Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Easier Data maintenance without locking and system performance issues.</p>
                  </div>
              
                  <!-- Fourth Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Clean data sent to SAP for streamlined processing.</p>
                  </div>
              
                  <!-- Fifth Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Improved Accuracy & Efficiency in operations.</p>
                  </div>
              
                  <!-- Sixth Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Powerful Operational and Executive Dashboards and Reporting.</p>
                  </div>
              
                  <!-- Seventh Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Scalable Workflow for multiple hierarchies.</p>
                  </div>
              
                  <!-- Eighth Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Role Based Authorization to View/Edit/Reject SO Data.</p>
                  </div>
              
                  <!-- Ninth Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Seamless Internal User Experience.</p>
                  </div>
              
                  <!-- Tenth Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Least Customer Service training is required.</p>
                  </div>
              
                  <!-- Eleventh Item -->
                  <div class="challenge-list-item">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Simple and cost effective Integration.</p>
                  </div>
              
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mb-5">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-text-content">
          <div class="section-title">
            <h3>How Does it<span> Work:</span></h3>
            <p>
              ISOX is a Cloud based Application based on SAP BTP technology that
              is used to stage the Sales Order data in Cloud Data Base for data
              validation and error handling before sending to SAP S/4/ERP for the
              creation of the Sales Document.
            </p>
            <p>
              A Front-End application is provided to the users to upload the sales
              order data, display the inbound data, validate the data using APIs
              and maintain/update the required data before it is re-validated and
              finally sent to SAP for Sales Order creation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-12"></div>
      <div class="col-lg-4 col-md-12">
        <div class="text-center1">
          <img src="assets/vabberUntitled-250x250.png" alt="about" />
        </div>
      </div>
    </div>
  </div>
