
<div class="container" style="background-color: rgb(248, 139, 139);">
    <h1>hi</h1>

    <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <i class="fa-solid fa-house"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-solid fa-circle-up"></i>
   <span> span tag</span><br>

   <i class="fa-solid fa-house"></i>
   <i class="fa fa-algolia	"></i>
   <i class="fa fa-affiliatetheme	"></i>
   <br>

   <a href="https://www.facebook.com/intelliceptusa" class="text-white mx-2"
   ><i class="fa fa-facebook" aria-hidden="true"></i
 ></a>
 <a href="https://twitter.com/intellicept" class="text-white mx-2"
   ><i class="fa fa-twitter" aria-hidden="true"></i
 ></a>  
 <a href="https://www.linkedin.com/company/2329087/admin/" class="text-white mx-2"
   ><i class="fa fa-linkedin" aria-hidden="true"></i
 ></a>

</div>