<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center not-found-box p-4">
      <img src="/assets/404-page-best-practices.jpg" class="img-fluid mb-4" alt="404 Image">
      <h3 class="display-6 ">Oops! Page Not Found</h3>
      <p class="lead mb-4 mt-2">We can't find the page you're looking for. It might have been removed or is temporarily unavailable.</p>
      <a href="/" class="btn btn-primary btn-lg go-back-btn">Back to Home &nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div> 

