<section class="hero-section ptb-100" id="demo5"
    style="background: url('assets/Spotyourdeal.jpg')no-repeat center center / cover">

    <div class="hero-bottom-shape-two"></div>
    <div class="col-12">
        <div class="page-header-content  text-center ">
            <h1 class="text-white text-shadow-black mb-0">SPOT</h1>
        </div>
    </div>
</section>
<div class="container">
<div class="challenge-section bg-shape-right-top pb-2 my-5">
    <div class="container-fluid py-4">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="challenge-content">
                    <div class="section-title">
                        <span class="sub-title">About Spot</span>
                        <h3 style="color:black;">SpotYourDeal: The One-stop E-Commerce Solution </h3>
                        <h3 style="color: #f39c12;">(Powered by SAP BTP)</h3>
                        
                    </div>
                    <div class="challenge-content-list">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="challenge-list-item">
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p style="text-align: justify;">E-commerce is revolutionizing the way we all shop in
                                        India. Why do you want to hop from one store to another in search of the latest
                                        phone when you can find it on the Internet in a single click? Not only mobiles.
                                        SpotYourDeal houses everything you can possibly imagine, from trending
                                        electronics like laptops, tablets, smartphones, and mobile accessories to
                                        in-vogue fashion staples like shoes, clothing and lifestyle accessories; from
                                        modern furniture like sofa sets, dining tables, and wardrobes to appliances that
                                        make your life easy like washing machines, TVs, ACs, mixer grinder juicers and
                                        other time-saving kitchen and small appliances; from home furnishings like
                                        cushion covers, mattresses and bedsheets to toys and musical instruments, we got
                                        them all covered. You name it, and you can stay assured about finding them all
                                        here. For those of you with erratic working hours, SpotYourDeal is your best
                                        bet. Shop in your PJs, at night or in the wee hours of the morning. This
                                        e-commerce never shuts down. What's more, with our year-round shopping festivals
                                        and events, our prices are irresistible. We're sure you'll find yourself picking
                                        up more than what you had in mind. If you are wondering why you should shop from
                                        SpotYourDeal when there are multiple options available to you, well, the below
                                        will answer your question.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="challenge-image text-center">
                    <img src="assets/Spot1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-section about-bg-shape my-4 mb-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image text-center">
                    <img src="assets/Spot2.png" alt="" style="height: 500px;">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 my-3">
                <div class="about-content">
                    <div class="section-title" style="text-align: start;">
                       
                        <h3>About <span style="color: #f39c12;">Spot App</span></h3>
                        <p>SPOT’s focus is to engage customers with the brand and to help ‘up-sell & cross-sell’
                            products easily.</p>
                        <p>1. A person walking with phone</p>
                        <p> 2. On the top right corner show the map in the app with a dot approaching the radius</p>
                        <p> 3. As soon as dot enters into radius, a background sound of iPhone notification will signify
                            the push of the alert from the app itself.</p>
                        <p> 4. As the notification sounds, on the top LEFT corner, a image of a phone will appear with a
                            notification on it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>