.head-img{
    height: 90vh;
}

  .paraDiv {
    // background: rgba(21, 101, 192, 0.83);
    background: #FFA500; /* Use solid orange without opacity */

    padding: 25px;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    max-width: 33%;
    text-align: left;
    position: relative;
    top: 130px;
}

.paraDiv h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.paraDiv p {
    margin-bottom: 0;
    line-height: 1.6;
}

p{
    line-height: 1.6;
}
.icon-box i{
    font-size: 50px;
   
color: #f90;
};

.icon-box h3{
    font-size: 20px;

}


.content-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #ddd;
}

.content-column-left, .content-column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-column-left img, .content-column-right img {
    max-width: 90%;
    height: auto;
    display: block;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}




@media (min-width: 768px) {
    .content-container {
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        font-size: 2rem;
    }

   
}


.fashion-store-section {
    padding: 20px;
    background-color: #fcd8a3;
}

.section-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.inner-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.feature-card {
    flex: 1 1 calc(25% - 20px); 
    background: transparent;
    padding: 15px;
    border: none;
    text-align: center;
}

.feature-heading {
    font-size: 18px;
    margin-bottom: 20px;
}


.feature-card2 {
    flex: 1 1 calc(33% - 20px); 
    background: transparent;
    padding: 15px;
    border: none;
    text-align: center;
}


strong{
    color: #f90;
}


.btn-ege{
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    background-color: #f90;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-ege:hover {
    background-color: #FFD700;
    color: #fff;
  } 

  .section-heading{
    text-align: center;
   
    font-weight: 600;
  }