.section-divider {
    border-top: 2px solid #007bff;
    width: 180px;
    margin: 0 auto;
}
.text-shadow-black {
    text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.8);
}
h1,h2,h3,h6{
    font-weight: 600;
}