<section class="hero-section ptb-100" id="demo5"
    style="background: url('assets/DMAC.jpg')no-repeat center center / cover">

    <div class="hero-bottom-shape-two"></div>
    <div class="col-12">
        <div class="page-header-content  text-center ">
            <h1 class="text-white text-shadow-black mb-0">DMAC</h1>
            <!-- <a href="/idmx1"><button class="btn btn-success" >Schedule Demo</button></a> -->

        </div>
    </div>
</section>
  
 
  <div class="about-section py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-title text-center">DMAC (Data Migration Agile Connector)</h2>
          <p class="section-subtitle text-center">
            Your Complete ETL Solution with Inbuilt Intelligence
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="section-subtitle text-center mt-4">Introduction</h3>
          <hr class="section-divider mb-4" />
          <p class="section-text text-center">
            Unlock the full potential of your data with DMAC - the cutting-edge
            ETL (Extract, Transform, Load) tool designed to streamline your data
            integration and transformation processes. DMAC isn't just another ETL
            tool; it's your partner in harnessing the power of your data, ensuring
            its accuracy, and optimizing its utility.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="faq-section  bg-f8f8f8">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="faq-content">
            <div class="section-title mt-4">
              <h2>Key <span style="color: #f39c12"> Features</span></h2>
            </div>
            <accordion [closeOthers]="oneAtATime" [isAnimated]="true">
              <accordion-group heading="Inbuilt Rules and Transformation Logic" [isOpen]="isFirstOpen">
                <div class="accordion-content">
                  <p>
                    Say goodbye to time-consuming manual transformations. DMAC
                    offers a robust library of pre-defined rules and
                    transformation logic, reducing the time and effort required
                    for data preparation.
                  </p>
                </div>
              </accordion-group>
  
              <accordion-group heading="Seamless Data Extraction ">
                <p>
                  DMAC effortlessly extracts data from various source databases,
                  applications, and files, ensuring you get the data you need,
                  when you need it.
                </p>
              </accordion-group>
  
              <accordion-group heading=" Versatile Source System Compatibility ">
                <p>
                  Connect to multiple source systems, including MySQL and HANA
                  Cloud, to extract data effortlessly. DMAC supports a wide range
                  of source types, ensuring flexibility in your data integration.
                </p>
              </accordion-group>
  
              <accordion-group heading=" Intelligent Data Transformation ">
                <p>
                  Our tool automatically applies transformations according to your
                  target system's requirements. From data cleansing to formatting,
                  DMAC handles it all with precision.
                </p>
              </accordion-group>
  
              <accordion-group heading=" Data Quality Assurance ">
                <p>
                  Identify and address data quality issues with ease. DMAC goes
                  beyond just migration. With built-in data profiling
                  capabilities, it empowers you to gain comprehensive insights
                  into your data's structure, quality, and characteristics.
                </p>
              </accordion-group>
  
              <accordion-group heading=" Efficient Data Loading ">
                <p>
                  Loading data into your target database or data warehouse has
                  never been smoother. DMAC optimizes the process, reducing
                  loading times and minimizing disruptions.
                </p>
              </accordion-group>
  
              <accordion-group heading=" User-Friendly Interface ">
                <p>
                  DMAC's intuitive user interface is designed with you in mind.
                  Easily navigate and manage your data migration projects, making
                  it accessible for both technical and non-technical users.
                </p>
              </accordion-group>
            </accordion>
          </div>
        </div>
  
        <div class="col-lg-6 col-md-12">
          <div class="faq-item-image text-center" style="margin-top: 20px">
            <img src="assets/DMAC.png" alt="about" class="img-fluid rounded" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="about-section ptb-75 mb-5">
    <div class="container">
      <div class="col-md-12">
        <div class="about-text-content">
          <h2 class="mb-4 mt-2" >Why Choose <span style="color: #f39c12">DMAC? </span></h2>
          <div class="">
            <p>
              - Time and Cost Efficiency: DMAC streamlines your data workflows,
              reducing manual effort and saving valuable time and resources.
            </p>
            <p>
              - Data Accuracy: With built-in rules and quality checks, DMAC
              ensures that your data is accurate, consistent, and ready for
              analysis.
            </p>
            <p>
              - Scalability: Whether you're a small business or an enterprise,
              DMAC scales to meet your evolving data needs.
            </p>
            <p>
              - User-Friendly Interface: DMAC's intuitive interface makes it
              accessible to both technical and non-technical users, empowering
              your entire team to work with data effectively.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  
  
