<section class="head-img" style="background: url('/assets/education-2.jpg')no-repeat center center / cover;">
    <!-- <div class="row justify-content-center"> -->
    <!-- <div class="text-header">
      <h1 class="text-white text-shadow-black mb-0">Our Services</h1>

    </div> -->
    <!-- </div> -->

    <div class="paraDiv row justify-content-center">
        <h3 class="elementor-slide-heading text-white">Education – Professional Services</h3>
        <p class="elementor-slide-description text-white">The robust, feature-rich, analytics-equipped, user-friendly
            Trident’s Campus Vision Solution built on a cutting-edge and flexible architecture – enables educational
            institutions to automate &amp; streamline their functions and processes for both learning and
            administration, from prospecting to graduation.

        </p>
    </div>
</section>

<section class="section">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-md-6">
          <h2>Transform for Today and Tomorrow</h2>
          <p>As a higher education administrator, you are expected to rein in budgets and reallocate funds, yet grow academic programs. You’re forecasting enrollments and projecting faculty headcount, while trying to reduce administrative costs. Your department needs greater data visibility to improve operational efficiency, but it must also maintain audit standards and compliance reporting schedules.</p>
          <p>To overcome these challenges, you want an administrative solution designed for higher education that enables you to transform operations and optimize resources.</p>
        </div>
  
        <!-- Column 2 -->
        <div class="col-md-6">
          <h2>Learn More About Other Dynamics 365 Solutions</h2>
          <p>Business and HR offices walk a fine line between wanting best-of-breed software functionality and needing to stay within budget. With Trident’s Campus Vision Finance, HR &amp; Payroll, your institution benefits from world-class <a href="https://tridentinfo.com/top-5-reasons-to-upgrade-dynamics-nav-to-d365-business-central-you-cant-ignore/">Microsoft Dynamics</a> <a href="https://tridentinfo.com/happy-staff-is-the-secret-ingredient-for-high-profit-businesses/">ERP</a> &amp; CRM technology that has been tailored specifically to the needs of higher education. You get the most universally recognized brand name for managing operations and resources already configured with the most proven tools for higher Education.</p>
        </div>
      </div>
    </div>
</section>

<section class="sectionImg text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 justify-content-center mt-3">
          <h3>KEY FEATURES OF TRIDENT CAMPUS VISION</h3>
          <img src="/assets/key-feature-e1527757454896.png" alt="Key Features Image" class="img-fluid mx-auto d-block mt-5" style="align-items: center !important;">
        </div>
      </div>
    </div>
  </section>
  
  <section class="sec-crm  ">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-md-6">
          <h2>Drive your Digital Transformation</h2>
          <p>
            <a href="#">Microsoft Dynamics 365</a> is the foundation for a suite of productivity applications for your business. This innovative solution breaks down the silos between CRM, ERP, and productivity to offer one system for everyone. With purpose-built applications for Sales, Customer Service, Field Service, and Project Service Automation, you can empower all of your teams to do more, every day, in concert. Now, it’s truly possible to run your entire business in the cloud.
          </p>
        </div>
  
        <!-- Column 2 -->
        <div class="col-md-6">
          <h2>Microsoft Dynamics CRM is Now Offered as Part of Microsoft Dynamics 365</h2>
          <p>
            Encompassing what was formerly known as <a href="#">Microsoft Dynamics CRM</a>, Microsoft <a href="#">Dynamics 365</a> transforms the way people do business by packaging the core components of CRM as individual applications in the cloud with a whole new suite of capabilities.
          </p>
        </div>
      </div>
    </div>
  </section>
  

  <section class="section-benefits">
    <div class="containerbenefits">
      <h2 class="heading text-center" style="text-align: center !important;">Benefits of Our Solutions</h2>
      <div class="benefits-grid">
        <div class="benefit-item">
          <h3>Minimizing high administrative overhead</h3>
        </div>
        <div class="benefit-item">
          <h3>Easy to use and high functionality footprint</h3>
        </div>
        <div class="benefit-item">
          <h3>Strong financial control and flexibility</h3>
        </div>
      </div>
  
      <div class="stats-grid mx-5">
        <div class="stat-item">
          <i class="fas fa-road"></i>
          <h3>80%</h3>
          <p>Time-saving in processing student applications</p>
        </div>
        <div class="stat-item">
          <i class="fas fa-road"></i>
          <h3>40%</h3>
          <p>Time-saving in payment collection deposit and rental</p>
        </div>
        <div class="stat-item">
          <i class="fas fa-database"></i>
          <h3>50%</h3>
          <p>Reduction in paper and file retention</p>
        </div>
        <div class="stat-item">
          <i class="fas fa-database"></i>
          <h3>30%</h3>
          <p>Reduction in human error</p>
        </div>
        <div class="stat-item">
          <i class="fas fa-database"></i>
          <h3>40%</h3>
          <p>Reduction in time to turn a room around with mobile technology</p>
        </div>
      </div>
    </div>
  </section>
  

  <section class="service-section">
    <div class="service-container text-center ">
      <div class="service-row mx-">
        <div class="service-card ">
          <div class="service-icon">
            <i aria-hidden="true" class="fas fa-road"></i>
          </div>
          <div class="service-details">
            <h3>Dynamic Web Portal – CMS</h3>
            <p>Is independent webbased CMS for Institutions like Schools, Colleges, Institutes, Engineering, management, Medical, Degree College.</p>
          </div>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <i aria-hidden="true" class="fas fa-database"></i>
          </div>
          <div class="service-details">
            <h3>Online Fee Payment</h3>
            <p>Online Fee Payment provides option to Parents to pay the Fees Online via various payment instruments like credit Cards, Debit cards and Net Banking.</p>
          </div>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <i aria-hidden="true" class="fas fa-comments"></i>
          </div>
          <div class="service-details">
            <h3>Interactive SMS</h3>
            <p>Onway information broadcasting tool to provide Institute/ Organisation related information to the students/parents/visitors/staff on their mobile.</p>
          </div>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <i aria-hidden="true" class="fas fa-desktop"></i>
          </div>
          <div class="service-details">
            <h3>Smart Card</h3>
            <p>Applications can benefit from the added features and security that smart cards provide. It can be used for Smart Identity Card, library card, fees Payment etc.</p>
          </div>
        </div>
      </div>
      <div class="service-row">
        <div class="service-card">
          <div class="service-icon">
            <i aria-hidden="true" class="fas fa-lock"></i>
          </div>
          <div class="service-details">
            <h3>Access Control System (biometric / RFID)</h3>
            <p>Access control means restricting the entry of unauthorized person(s) or employee(s)/ student(s) to a particular section of the organisation.</p>
          </div>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
          </div>
          <div class="service-details">
            <h3>GPS</h3>
            <p>This solution provides up-to-the-minute data for tracking vehicles with Online Alerts: Provides critical alerts such as over speeding, acceleration/ deceleration, unauthorized stoppages etc.</p>
          </div>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <i aria-hidden="true" class="fas fa-barcode"></i>
          </div>
          <div class="service-details">
            <h3>Barcode</h3>
            <p>Trident Campus incorporates barcode for various purposes like library, stock verification, student card, library card, transport card, hostel card and staff id cards etc. to maintain integrity and security.</p>
          </div>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <i aria-hidden="true" class="fas fa-mobile-alt"></i>
          </div>
          <div class="service-details">
            <h3>Mobile App</h3>
            <p>Trident Campus Vision App provides synopsis of day to day performance and growth of their Ward in all phases like Academic, Social, Psychological and Co-curricular front in the Institution at a single point.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-primary text-light p-4">
        <div class=" mt-3">
          <div class="text-center mb-5">
              <h2 class="text-white">Campus Visions Solutions</h2>
          </div>
          </div>
        <div class="row mx-5">
            <div class="col-md-3 mb-4">
                <div class="card text-center">
                    <img src="https://tridentinfo.com/wp-content/uploads/2020/12/for-students.png" class="card-img-top" alt="For Students">
                    <div class="card-body pl-0">
                        <h5 class="card-title text-white text-left">For Schools</h5>
                        <p class="card-text text-white text-left">You can manage your Schools Administrative activities on our Cloud platform, such as fees, students, staff, SMS, email, parents login, Android application, etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card text-center">
                    <img src="https://tridentinfo.com/wp-content/uploads/2020/12/for-clleges.png" class="card-img-top" alt="For Colleges">
                    <div class="card-body pl-0">
                        <h5 class="card-title text-white text-left ">For Colleges</h5>
                        <p class="card-text text-white text-left">You can manage your Colleges activities on our Cloud platform, such as fees, students, staff, SMS, email, parents login, attendance, Android application, etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card text-center">
                    <img src="https://tridentinfo.com/wp-content/uploads/2020/12/group.png" class="card-img-top" alt="For Group of Institutions">
                    <div class="card-body pl-0">
                        <h5 class="card-title text-white text-left">For Group of Institutions</h5>
                        <p class="card-text text-white text-left">You can manage all the schools and colleges in your group centrally. You can monitor them centrally with all the modules available in school and college packages.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card text-center">
                    <img src="https://tridentinfo.com/wp-content/uploads/2020/12/resellers.png" class="card-img-top" alt="For Franchisees & Resellers">
                    <div class="card-body text-white pl-0">
                        <h5 class="card-title  text-left">For Franchisees & Resellers</h5>
                        <p class="card-text text-white text-left">You can manage hundreds of schools or colleges, sub-resellers, and your franchise owners with all the features of the campus management cloud solution.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="section-case-study section-benefits  py-5">
        <div class="container">
            <div class="text-center">
                <h2 class="section-title text-white">EGE ONLINE</h2>
            </div>
            <div class="text-center my-4">
                <p class="text-white">“We chose dynamics CRM online to address our need for MIS and data analysis for better decision making. We also wanted to provide a high level of support to customers, who are demanding, and want continuous update about their application status.”</p>
            </div>
            <div class="text-center">
                <a class="btn btn-ege btn-md" href="https://tridentinfo.com/education-consultants-speed-up-services-with-dynamic-real-time-information-and-reports/">
                    View Case Study
                </a>
            </div>
        </div>
    </section>
    
    <section class="section-cta  py-5" style="background-color: #002a6b;">
        <div class="container">
            <div class="text-center ">
                <h2 class="section-title text-white">READY TO TAKE THE NEXT STEPS WITH TRIDENT &amp; CAMPUS VISION</h2>
            </div>
            <div class="text-center my-4 text-white">
                <p class="text-white">Contact us today to schedule a quick chat about your project, or sign up for one of our monthly demos!</p>
            </div>
            <div class="text-center">
                <a class="btn btn-ege btn-md" href="#request-demo">
                    Request For Demo
                </a>
            </div>
        </div>
    </section>
    