.head-img {
    height: 270px;
}
.text-shadow-black {
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.8);
}
.text-header h1{
    text-align: center;
    align-items: center;
    position: relative;
    top: 100px;
    font-weight: 700;
    color: #fff;
    font-size: 40px;
}



