<!--header section start-->
<section class="head-img" style="
    background: url('assets/career5.png') no-repeat center center / cover;
    margin-top: 85px;
  ">
  <div class="text-header">
    <h1 class="text-white text-shadow-black mb-0">Career</h1>
  </div>
</section>

<!--client section start-->
<div class="container ">
  <div class="col-12 mt-5">
    <p style="line-height: 30px">
      A day in life at Intellicept comprises of fun, challenge, and
      appreciation. Our employees are our wealth, and we invest in their
      career. The focus of our workforce is “Work Hard, Play Harder”.
    </p>
  </div>
</div>


<div class="container">
    <div class="row ">
      <div class=" col-lg-6  d-flex justify-content-center align-items-center">
  
        <div class="contact-item">
          <div class="section-title text-center ">
            <h2><b>
                Talk to Our
                <span style="color: #f39c12">Experts</span></b>
            </h2>
            <p style="text-align: center;">
              We will contact you within 48 hours after receiving your request.
            </p>
          </div>
          <div routerLink="/contact-us" class="section-title " style="cursor: pointer" tabindex="0">
            <div class="section-title d-flex justify-content-center align-items-center">
              <img src="assets/Untitled-2.png" alt="image" />
            </div>
            <h4 style="margin-left: -1.5rem; color: #f39c12; text-align: center; font-weight: 600;">
              Learn More
            </h4>
          </div>
        </div>
  
      </div>
      <div class=" col-lg-6">
        <div class="card border-0 shadow-sm text-white">
          <img src="/assets/Leave_a_message.jpg" alt="" class="img-fluid rounded shadow-sm" />
        </div>
      </div>
    </div>
  
  </div>