<section class="hero-section ptb-100" id="demo5"
    style="background: url('assets/staffing.jpg')no-repeat center center / cover">

    <div class="hero-bottom-shape-two"></div>
    <div class="col-12">
        <div class="page-header-content  text-center ">
            <h1 class="text-white text-shadow-black mb-0">Blogs</h1>
            <!-- <a href="/idmx1"><button class="btn btn-success" >Schedule Demo</button></a> -->

        </div>
    </div>
</section>

<!-- <h1 class="text-center mt-3">Blogs</h1> -->
<div class="container mt-5 p-5">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let card of paginatedCards">
      <div class="card custom-card">
        <img [src]="card.imgSrc" class="card-img-top fixed-img" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <a [href]="card.link" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <button class="btn " style="margin-left: 15px" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= cards.length">Next</button>
  </div>
</div>



